
<footer>

    <div class="line">

    </div>
    <div class="main-footer">

      <div class="redessociales">

        <p class="icon"> <i class="fab fa-facebook-square"></i></p>
        <p class="icon"><i class="fab fa-twitter"></i></p>
        <p class="icon"> <i class="fab fa-instagram"></i></p>

      </div>

      <div class="footer-bar">
        <p class="footer-text"><a href="/about">¿Quiénes somos?</a></p>
        <p class="footer-text">Contacto</p>
        <p class="footer-text">Términos y condiciones</p>
        <p class="footer-text">Preguntas frecuentes</p>
      </div>


    </div>
    
    <script src="/js/bootstrap.js"></script>

  </footer>
 