
<footer>

    <div class="line">

    </div>
    <div class="main-footer">

      <div class="redessociales">

        <p class="icon"><a href="https://es-la.facebook.com/"><i class="fab fa-facebook-square"></i></a></p>
        <p class="icon"><a href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a></p>
        <p class="icon"><a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a></p>

      </div>

      <div class="footer-bar">
        <p class="footer-text"><a href="/about">¿Quiénes somos?</a></p>
        <p class="footer-text"><a href="/help">Contacto</a></p>
        <p class="footer-text"><a href="/terms">Términos y condiciones</a></p>
        <p class="footer-text"><a href="/faq">Preguntas frecuentes</p></a>
      </div>


    </div>
    
    <script src="/js/bootstrap.js"></script>

  </footer>
 