

<header class="header-main">

 

 <div class="main-header-top-bar">
   
<div class="mobile-navbar">
  
  <div class="lupa-mobile"><i class="fas fa-search"></i></div>
  
  <a href="/"><img class="img-banner" src="images/wineline1.png" alt=""></a>
  
  <div class="cart-mobile"><i class="fas fa-shopping-cart"></i></div>

</div>


<div class="line-header-mobile"></div>
  <div class="menu-hamburguesa">
    <i class="fas fa-bars"></i>
    </div>
    <div class="logo-desktop"><a href="/"><img class="img-banner" src="images/wineline1.png" alt=""></a></div>
  <form action="">
      <input class="barrabusqueda-header" type="text" placeholder="Buscar productos">
      
  </form>
  
  
  <div class="copy-header">
    <div>
    <i class="fas fa-shopping-cart"></i>
    </i>
    <p> Mi carrito</p>
    </div>
    <div>
      <i class="far fa-user"></i>
   <p>Mi cuenta</p>
    </div>
  </div>
  
  </div>
  
  <nav class="main-navbar">
    <div class="line-header"></div>
    <ul>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Productos</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
    </ul>
    
   
</nav>
  
  


    


   

  </header>

  
