

<header class="header-main">

    <div class="logo">
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>

      <img class="img-banner" src="images/wineline1.png" alt="">

      <p class="shopping-cart"><i class="fas fa-shopping-cart"></p></i>
    </div>



    <div class="barrabusqueda">
      <form action="">
        <input class="form-busqueda" type="search" name="search">
        <button class="icono-lupa"><i class="fas fa-search"></i></button>
      </form>
    </div>



    <br>
    <br>

  </header>
