

<header class="header-main">

 

 <div class="main-header-top-bar">
   
<div class="mobile-navbar">
  
  <div class="lupa-mobile"><i class="fas fa-search"></i></div>
  
  <a href="/"><img class="img-banner" src="/images/wineline-logo2.png" alt=""></a>

  <div class="barrabusqueda-header1">
  <input class="barrabusqueda-header" type="text" placeholder="Buscar productos">
  </div>
  
  <div class="copy-header">
    <div>
    </i>
    <a href="/productCart"><i class="fas fa-shopping-cart"></i>
    <p> Mi carrito</p></a>
    </div>
    <div>
      <a href="/users/register"><i class="far fa-user"></i>
   <p>Mi cuenta</p></a>
    </div>
  </div>

  
  <div class="cart-mobile"><i class="fas fa-shopping-cart"></i></div>



</div>

<div class="line-header-mobile"></div>


<nav class="main-navbar">

 
 
    <ul>
      <li><a href="">Ofertas</a></li>
      <li><a href="/products">Productos</a></li>
      <li><a href="/products/create">Crear producto</a></li>
      <li><a href="">Ayuda</a></li>
    </ul>


</nav>




  <div class="menu-hamburguesa">
    <i class="fas fa-bars"></i>
    </div>

  
  
  </div>
  
  
  
  
  


    


   

  </header>

  
