<!DOCTYPE html>
<html>

<%- include('./partials/head') %> 


<body>
  <%- include('./partials/header') %> 
  

  <div class="about-title">
    <h1>¿Quiénes somos?</h1>
  </div>

  <div class="container-about">
      <div class="about-info">
        <h3>Wineline es tu proveedor de bebidas, especializados en vinos que posee la mejor calidad de bedidas al mejor precio. </h3>
        <p>Con más de 40 años de trayectoria, Wineline se afianza con 10 sucursales de primer nivel, 
            espacios de cata, personal especializado y 
            la representación de las mejores bodegas nacionales e internacionales.
            Nuestra misión es brindar una experiencia de compra superior, siempre con precios muy competitivos. 
            Nos diferencia la experiencia y el conocimiento sobre los productos que ofrecemos y la vocación de servicio de todo nuestro personal.
            Nuestros capacitados sommeliers han combinado su vocación de servicio con las oportunidades digitales de esta nueva era, para llevar a 
            toda Sudamerica una experiencia de preparación de un maridaje único y especial. 
            Productos que puedes disfrutar en la comodidad de tu hogar o en cualquiera de nuestras sucursales.  
            Somos profesionales independientes versátiles, amantes del vino y de lo nuestro, que trabajamos para dar a conocer lo mejor de los productos de nuestra tierra. 
            Nuestra empresa es argentina, cuenta con un amplio espectro de Bodegas asociadas y por supuesto su mejor producción de vinos al alcance de nuestros clientes.</p>
      </div>
      


      <div class="container">
        <div class="row">
            <div class="col-12">
  
              <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <a href=""><img src="images/viñedo.jpg" class="d-block w-100" alt="..." width="200" height="400"></a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Viñedos</h5>
                      <p>Conozca mas sobre nuestros viñedos.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href="#"><img src="images/local.jpg" class="d-block w-100" alt="..." width="200" height="400"></a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Tenemos 10 sucursales de primer nivel.</h5>
                      <p>Encuentre la mas cercana aqui.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href="#"><img src="images/bodega.jpg" class="d-block w-100" alt="..." width="200" height="400"></a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Bodegas</h5>
                      <p>Estamos asociados a las mejores bodegas para poder brindar la mejor calidad de productos.</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
                
            </div>
        </div>
    </div>


  </div>





  <%- include('./partials/footer') %>

</body>





</html>