<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/home.css">

  <title>Wineline</title>
</head>

<body>
  <header class="header-main">

    <div class="logo">
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>

      <img class="img-banner" src="images/wineline1.png" alt="">

      <p class="shopping-cart"><i class="fas fa-shopping-cart"></p></i>
    </div>



    <div class="barrabusqueda">
      <form action="">
        <input  class="form-busqueda" type="search" name="search">
        <button class="icono-lupa"><i class="fas fa-search"></i></button>
      </form>
    </div>

    

    <br>
    <br>

  </header>

  <main>
   
    <img class="banner" src="images/banner4.jpeg" alt="">


    <div class="articles">
      <article>
        <img class="img-product" src="images/seccion3.jpg" alt="">
      </article>
      <article>
        <img class="img-product" src="images/seccion2.jpg" alt="">
      </article>

      <article>
        <img class="img-product" src="images/seccion1.jpg" alt="">
      </article>
    </div>

    <div class="line">

    </div>

  </main>

  <footer>

    <div class="main-footer">

      <div class = "redessociales">

        <p class="icon"> <i class="fab fa-facebook-square"></i></p>
        <p class= "icon"><i class="fab fa-twitter"></i></p>
        <p class="icon">  <i class="fab fa-instagram"></i></p>
  
      </div>
      <br>
      
      

    <div class="footer-bar">
      <p> ¿Quiénes somos?</p>
      <p>Contacto</p>
      <p>Términos y condiciones</p>
      <p>Preguntas frecuentes</p>
    </div>

    
  </div>


  </footer>

</body>





</html>