<!DOCTYPE html>
<html>

<%- include('./partials/head') %> 


<body>
  <%- include('./partials/header') %> 
  

  <main>

    <br>
    
    <div class="container">
      <div class="row">
          <div class="col-12">

            <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <a href="/products"><img src="images/BANNER-VINO-CAROUSEL.jpg" class="d-block w-100" alt="..." width="200" height="400"></a>
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Vea todos nuestros productos</h5>
                    <p>Encuentra tus bebidas favoritas al mejor precio.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <a href="#"><img src="images/banner-vino-carousel9.jpg" class="d-block w-100" alt="..." width="200" height="400"></a>
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Sección más vendidos.</h5>
                    <p>Mire nuestras bebidas más vendidas.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <a href="#"><img src="images/banner-vino-carousel7.jpg" class="d-block w-100" alt="..." width="200" height="400"></a>
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Año nuevo en Wineline</h5>
                    <p>Estas fiestas, compre sus bebidas preferidas con los mejores descuentos.</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
              
          </div>
      </div>
  </div>
        
          
        


<h1 class="title-home-cat">CATEGORÍAS</h1>
<div class="line-home-cat"></div>
    <div class="articles-home">
      <article>
        <a href="products/wines"><img class="img-product-home" src="images/section-vinos-text.png" alt=""></a> 
      </article>
      <article>
       <a href="products/beer"><img class="img-product-home" src="images/section-cervezas-text.png" alt=""></a> 
      </article>

      <article>
      <a href="products/sparkling"><img class="img-product-home" src="images/section-espumantes-text.png" alt=""></a>  
      </article>
      </div>
      
      <h1 class="title-home-cat">OFERTAS Y MAS</h1>
      <div class="line-home-cat"></div>
      <div class="articles-home">
        <article>
        <a href="products/discount"><img class="img-product-home" src="images/vino-section-oferta.png" alt=""></a>  
        </article>
        <article>
         <a href="products/news"><img class="img-product-home" src="images/vino-section-novedades.png" alt=""></a> 
        </article>
    </div>
  </main>

  <%- include('./partials/footer') %>

</body>





</html>