<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/home.css">

  <title>Wineline</title>
</head>

<body>
  <header class="header-main">

    <div class="logo">
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>

      <img class="img-banner" src="images/wineline1.png" alt="">

      <i class="fas fa-shopping-cart"></i>
    </div>



    <div class="barrabusqueda">
      <form action="../../form-result.php" method="post" target="_blank">
        <p>
          <input type="search" name="busquedaproductos" placeholder="Buscar productos... ">
          <i class="fas fa-search"></i>
        </p>
      </form>
    </div>

  </header>

  <main>
    <img class="banner" src="images/banner2.jpeg" alt="">


    <div class="articles">
      <article>
        <img class="img-product" src="images/seccion1.jpg" alt="">
      </article>
      <article>
        <img class="img-product" src="images/seccion2.jpg" alt="">
      </article>

      <article>
        <img class="img-product" src="images/seccion3.jpg" alt="">
      </article>
    </div>

  </main>

</body>

</html>

<body>
  <header>


  </header>

</body>

</html>