<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/home.css">

    <title>Wineline</title>


</head>



<body>
    <header class = "main-header">
        
            <img class = "logo" src="/images/winelinepng.png" alt="" >

        <div class="header-topbar">
            <i class="fas fa-question-circle"></i>
            <i class="fas fa-user-circle"></i>
        </div>

        <div class = "main-nav">
            <nav>
                <ul>
<li><a href="">Inicio</a></li>
<li><a href="">Productos</a></li>
            </ul>
        </nav>
        </div>

    </header>
    
</body>
</html>