<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/login.css">
    
    <title>Wineline Registrarse</title>
</head>


<body>
  
<!--Main Header-->

    
<header class="header-main">

    <div class="logo">
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>

      <img class="img-banner" src="images/wineline1.png" alt="">

      <p class="shopping-cart"><i class="fas fa-shopping-cart"></p></i>
    </div>



    <div class="barrabusqueda">
      <form action="">
        <input  class="form-busqueda" type="search" name="search">
        <button class="icono-lupa"><i class="fas fa-search"></i></button>
      </form>
    </div>

    

    <br>
    <br>

  </header>





<!--Formulario de registro-->

<main class="register-body">
    <h1 class="register-title">Login</h1>



<form class="register-box" action="" method="">


    
    
    <div class="register-usuario">
    <div>
        <label for="apellido"></label>
        <input type="text" name="apellidoUsuario" id="apellido" placeholder="Nombre de usuario" required class="register-usuario1">
    </div>
    </div>
    
    <div class="register-password">
    <div>
        <label for="contraseña"></label>
        <input type="password" name="passwordUsuario" id="contraseña" placeholder="Contraseña" required class="register-password1">
    </div>
    </div>
    
    

    
    
    <div class="register-button">
    <button class="register-button2" type="submit">Login</button>
    </div>
    <div class="already-account">
        <button class="register-button2" type="submit">Cancelar</button>
    </div>
</form>

<div class="line">

</div>

</main>


<footer>

    <div class="main-footer">

      <div class = "redessociales">

        <p class="icon"> <i class="fab fa-facebook-square"></i></p>
        <p class= "icon"><i class="fab fa-twitter"></i></p>
        <p class="icon">  <i class="fab fa-instagram"></i></p>
  
      </div>
      <br>
      
      

    <div class="footer-bar">
      <p class="footer-text"> ¿Quiénes somos?</p>
      <p class="footer-text">Contacto</p>
      <p class="footer-text">Términos y condiciones</p>
      <p class="footer-text">Preguntas frecuentes</p>
    </div>

    
  </div>


  </footer>






    
</body>
</html>