<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/productDetail.css">

  <title>Wineline</title>
</head>

<body>
  <header class="header-main">

    <div class="logo">
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>

      <img class="img-banner" src="images/wineline1.png" alt="">

      <p class="shopping-cart"><i class="fas fa-shopping-cart"></p></i>
    </div>



    <div class="barrabusqueda">
      <form action="">
        <input class="form-busqueda" type="search" name="search">
        <button class="icono-lupa"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <br>

    <main class="productdetail">
      <div class="imgprod">
        <img src="/images/rutinicabmal.jpg" alt="">
      </div>
      <div class="producttext">
        <h3 class="title">Rutuni Cabernet Malbec</h4>
          <p class="subtitle">750ml</p>
          <p class="descriptionprod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum iure eos in facilis
            architecto doloribus
            consectetur nihil repudiandae illo accusantium repellendus corporis at minus labore reiciendis doloremque,
            culpa esse expedita.</p>
          <h4 class="price">Precio: $1300</h2>
            <br>
            <div class="conjuntoContador">
              <div class="contador">
                <div>
                  <button class="decr" id="decr"><i class="fas fa-minus"></i></button>
                </div>

                <p class="contar" id="contar">1</p>

                <div class="botones">
                  <button class="incr" id="incr"><i class="fas fa-plus"></i></button>
                </div>
              </div>

              <div class="buttons">
                <button class="buttons1">Comprar</button>
                <button class="buttons1">Agregar al carrito</button>
              </div>

            </div>

    </main>

    <footer>
      <div class="main-footer">

        <div class="redessociales">

          <p class="icon"> <i class="fab fa-facebook-square"></i></p>
          <p class="icon"><i class="fab fa-twitter"></i></p>
          <p class="icon"> <i class="fab fa-instagram"></i></p>

        </div>

        <div class="footer-bar">
          <p class="footer-text"> ¿Quiénes somos?</p>
          <p class="footer-text">Contacto</p>
          <p class="footer-text">Términos y condiciones</p>
          <p class="footer-text">Preguntas frecuentes</p>
        </div>


      </div>


    </footer>
</body>

</html>