<!DOCTYPE html>
<html>

<%- include('./partials/head') %> 


<body>
  <%- include('./partials/header') %> 


<section class="contact">
    <div class="content">
        <h2>Terminos y condiciones</h2>
        <p>
            Bienvenido a wineline.com
            
            Estos términos y condiciones describen las reglas y normas de uso del sitio web de Wineline, ubicado en http://wineline.com.
            
            Al acceder a este sitio web asumimos que acepta estos términos y condiciones. No continúe utilizando wineline.com si no está de acuerdo en aceptar todos los términos y condiciones establecidos en esta página.
            
            La siguiente terminología se aplica a estos Términos y Condiciones, a la Declaración de Privacidad y al Aviso de Exención de Responsabilidad y a todos los Acuerdos: "Cliente", "Usted" y "Su" se refiere a usted, la persona que se registra en este sitio web y cumple con los términos y condiciones de la Compañía. "La Compañía", "Nosotros", "Nuestro" y "Nosotros", se refiere a nuestra Compañía. "Parte", "Partes" o "Nosotros", se refiere tanto al Cliente como a nosotros. Todos los términos se refieren a la oferta, la aceptación y la contraprestación necesaria para llevar a cabo el proceso de nuestra asistencia al Cliente de la manera más adecuada con el propósito expreso de satisfacer las necesidades del Cliente con respecto a la prestación de los servicios indicados de la Compañía, de acuerdo con y sujeto a la legislación vigente de los Países Bajos. Cualquier uso de la terminología anterior u otras palabras en singular, plural, mayúsculas y/o él/ella o ellos, se consideran intercambiables y por lo tanto se refieren a lo mismo.
            
            Cookies
            Empleamos el uso de cookies. Al acceder a wineline.com, usted acepta el uso de cookies de acuerdo con la Política de Privacidad de Wineline.
            
            La mayoría de los sitios web interactivos utilizan cookies para permitirnos recuperar los datos del usuario en cada visita. Nuestro sitio web utiliza las cookies para permitir la funcionalidad de ciertas áreas y facilitar la visita a nuestro sitio web. Algunos de nuestros socios afiliados/publicitarios también pueden utilizar cookies.
            
            Licencia
            A menos que se indique lo contrario, Wineline y/o sus licenciantes son los propietarios de los derechos de propiedad intelectual de todo el material de wineline.com. Todos los derechos de propiedad intelectual están reservados. Usted puede acceder a este material desde wineline.com para su uso personal sujeto a las restricciones establecidas en estos términos y condiciones.
            
            No debe:
            
            Volver a publicar el material de wineline.com
            Vender, alquilar o sublicenciar el material de wineline.com
            Reproducir, duplicar o copiar material de wineline.com
            Redistribuir el contenido de wineline.com
            El presente acuerdo comienza en la fecha del mismo. Nuestros Términos y Condiciones fueron creados con la ayuda de la Plantilla de Términos y Condiciones.
            
            Algunas partes de este sitio web ofrecen la oportunidad de que los usuarios publiquen e intercambien opiniones e información en ciertas áreas del sitio web. Wineline no filtra, edita, publica o revisa los Comentarios antes de su presencia en el sitio web. Los comentarios no reflejan los puntos de vista y opiniones de Wineline, sus agentes y/o afiliados. Los comentarios reflejan los puntos de vista y las opiniones de la persona que los publica. En la medida en que lo permita la legislación aplicable, Wineline no será responsable de los Comentarios ni de ninguna responsabilidad, daños o gastos causados y/o sufridos como resultado de cualquier uso y/o publicación y/o aparición de los Comentarios en este sitio web.
            
            Wineline se reserva el derecho de supervisar todos los Comentarios y de eliminar aquellos que puedan considerarse inapropiados, ofensivos o que supongan un incumplimiento de las presentes Condiciones.
            
            Usted garantiza y declara que:
            
            Tienes derecho a publicar los Comentarios en nuestro sitio web y tienes todas las licencias y consentimientos necesarios para hacerlo;
            Los Comentarios no invaden ningún derecho de propiedad intelectual, incluyendo, sin limitación, derechos de autor, patentes o marcas comerciales de terceros;
            Los comentarios no contienen ningún material difamatorio, calumnioso, ofensivo, indecente o ilegal que suponga una invasión de la privacidad.
            Los Comentarios no se utilizarán para solicitar o promover negocios o costumbres o presentar actividades comerciales o ilegales.
            Usted concede a Wineline una licencia no exclusiva para utilizar, reproducir, editar y autorizar a otros a utilizar, reproducir y editar cualquiera de sus Comentarios en todas y cada una de las formas, formatos o medios.
            
            Hipervínculos a nuestro contenido
            Las siguientes organizaciones pueden enlazar con nuestro sitio web sin necesidad de aprobación previa por escrito:
            
            Agencias gubernamentales;
            Motores de búsqueda;
            Organizaciones de noticias;
            Los distribuidores de directorios en línea pueden enlazar con nuestro sitio web de la misma manera que lo hacen con los sitios web de otras empresas incluidas en la lista; y
            Empresas acreditadas en todo el sistema, excepto las organizaciones sin ánimo de lucro, los centros comerciales de beneficencia y los grupos de recaudación de fondos de beneficencia, que no pueden establecer un hipervínculo con nuestro sitio web.
            Estas organizaciones pueden enlazar con nuestra página de inicio, con publicaciones o con otra información del sitio web siempre que el enlace (a) no sea en modo alguno engañoso; (b) no implique falsamente el patrocinio, el respaldo o la aprobación de la parte que enlaza y de sus productos y/o servicios; y (c) se ajuste al contexto del sitio de la parte que enlaza.
            
            Podemos considerar y aprobar otras solicitudes de enlace de los siguientes tipos de organizaciones
            
            fuentes de información de consumidores y/o empresas comúnmente conocidas
            sitios de comunidades punto.com;
            asociaciones u otros grupos que representen a organizaciones benéficas
            distribuidores de directorios en línea.
            </p>
        <a href="/"><button class="btn btn-lg btn-primary w-100">Home</button></a>
    </div>
    




  
  <%- include('./partials/footer') %>

</body>
