@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("normalize.css");

* {
  box-sizing: border-box;
}

body {
  font-family: "roboto";
  background-image: url(/images/black_background.jpg);
}

main {
  margin-bottom: 20px;
}

footer {
  margin: 30px;
  font-family: "Montserrat", sans-serif;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.img-banner {
  width: 20vw;
}
.barrabusqueda {
  display: flex;
  justify-content: center;
  border-radius: 5%;
}

.header-main {
  padding-top: 25px;
}

.banner {
  width: 100vw;
  margin-bottom: 5px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
}

.line {
  display: flex;
  justify-content: center;
  border-bottom: solid 2px lightgray;
  width: 70vw;
  margin: auto;
}

.img-product {
  width: 80vw;
  margin: 5px;
}

.img-product:hover {
  box-shadow: 8px 8px 10px rgb(22, 22, 22);
}

.burger-menu {
  color: white;
}

.shopping-cart {
  color: white;
}

.facebook {
  margin-top: 0;
}

.barrabusqueda {
  text-align: center;
}

.form-busqueda {
  margin-top: 20px;
  border-radius: 5px;
}

.icono-lupa {
  border-radius: 5px;
}

.redessociales {
  display: flex;
  color: white;
  font-size: 14px;
  font-weight: 200;
  justify-content: center;
  gap: 25px;
  width: 100%;
}

.footer-bar {
  display: flex;
  color: white;
  justify-content: space-evenly;
  font-size: 12px;
  font-weight: 200;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-text {
  text-align: center;
  width: 20vw;
}

.create-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-family: "Roboto";
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 15px;
}

.create-title {
  text-align: center;
  font-family: "Segoe UI";
  color: grey;
  font-weight: 400;
}

.create-box {
  display: flex;
  align-content: center;
  flex-direction: column;
}

textarea {
  min-width: 80vw;
  max-width: 80vw;
  min-height: 30vw;
  max-height: 30vw;
}

.data-box {
  width: 40vw;
  padding: 7px 35px 7px 5px;
}

.create-button {
  width: 20vw;
  background-color: #991128;
  color: white;
  padding: 10px 35px;
  margin: 8px 0;
  border-radius: 10px;
  border: solid rgb(29, 29, 29) 1px;
  opacity: 0.9;
}

.register-button2:hover {
  background-color: lightgrey;
}

.icon:hover {
  color: lightgray;
}

.footer-text:hover {
  color: lightgrey;
}

.burger-menu:hover {
  color: lightgrey;
}

.shopping-cart:hover {
  color: lightgrey;
}

.line {
  display: flex;
  justify-content: center;
  border-bottom: solid 2px lightgray;
  width: 70vw;
  margin: auto;
}

@media (min-width: 768px) {
  .footer-bar {
    font-size: 15px;
  }

  .footer-text {
    width: auto;
  }
  .redessociales {
    font-size: 20px;
    justify-content: center;
    gap: 30px;
  }
}


/*HEADER*/


@media (max-width: 768px) {

  .line-header{
  display: none;
}

.barrabusqueda-header{
  display: none;
}

.main-navbar{
  display: none;
}


.copy-header{
  display: none;
}

.mobile-navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 8px;
  color: white;
}

.line-header-mobile{
  display: flex;
  justify-content: center;
  border-bottom: solid 2px white;
  width: 70vw;
  margin: auto;
}

.menu-hamburguesa{
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 30px;
}

.logo-desktop{
  display: none;
}

}

@media (min-width: 768px) {
  .footer-bar {
    font-size: 15px;
  }

  .footer-text {
    width: auto;
  }
  .redessociales {
    font-size: 20px;
    justify-content: center;
    gap: 30px;
  }

  .menu-hamburguesa{
    display: none;
  }

  .main-header-top-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .copy-header{
    color: white;
    color: white;
      display: flex;
      width: 20vw;
      justify-content: space-evenly;
      text-align: center;
  }
  
  .barrabusqueda-header{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 40vw;
    padding: 8px;
    border: none;
  }

  .main-navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
  }

  .main-navbar a{
    text-decoration: none;
    color: white;
  }

  .mobile-navbar{
    display: none;
  }

  .line-header-mobile{
    display: none;
  }

 .logo-desktop{
   display: flex;
 }

 .line-header{
  display: flex;
  justify-content: center;
  border-bottom: solid 2px white;
  width: 70vw;
  margin: auto;
}

}