@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap");
@import url("normalize.css");

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

main {
  margin-bottom: 20px;
}

/*----------------------------------------------------------------------HEADER--------------------------------------*/

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.img-banner {
  width: 40vw;
}

.barrabusqueda-header1 {
  margin-top: 10px;
}

.header-main {
  padding-top: 25px;
}

.line {
  display: flex;
  justify-content: center;
  border-bottom: solid 2px lightgray;
  width: 70vw;
  margin: auto;
}

.burger-menu {
  color: white;
}

.shopping-cart {
  color: white;
}

.barrabusqueda {
  text-align: center;
}

.mobile-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 8px;
  color: white;
}

.barrabusqueda-header {
  display: none;
}

.line-header-mobile {
  display: flex;
  justify-content: center;
  border-bottom: solid 2px white;
  width: 70vw;
  margin: auto;
}

.menu-hamburguesa {
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 30px;
}

.copy-header a {
  text-decoration: none;
  color: white;
}
.icon:hover {
  color: lightgray;
}

.burger-menu:hover {
  color: lightgrey;
}

.shopping-cart:hover {
  color: lightgrey;
}

.copy-header {
  display: none;
}

.main-navbar {
  display: none;
}

/*---------------------------------FOOTER-----------------------------------------------------------*/

.redessociales {
  display: flex;
  color: white;
  font-size: 14px;
  font-weight: 200;
  justify-content: center;
  gap: 25px;
  width: 100%;
  padding-top: 20px;
}

.footer-bar {
  display: flex;
  color: white;
  justify-content: space-evenly;
  font-size: 12px;
  font-weight: 200;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  text-align: center;
  width: 20vw;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-text a:hover {
  color: lightgrey;
}

.facebook {
  margin-top: 0;
}

footer {
  margin: 30px;
  font-family: "Montserrat", sans-serif;
}

.footer-bar a {
  text-decoration: none;
  color: white;
}
/*----------------------------------------------HOME------------------------------------*/

.banner-home {
  width: 100vw;
  margin-bottom: 5px;
}

.articles-home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
  align-items: center;
}

.img-product-home {
  width: 80vw;
  margin: 5px;
}

.img-product-home:hover {
  transition-duration: 120ms;
  box-shadow: 3px 3px 7px rgb(34, 32, 32);
}

.banner-home {
  display: none;
}

.title-home-cat {
  padding-top: 20px;
  text-align: center;
  font-family: "montserrat";
  color: white;
  font-weight: 400;
}

.line-home-cat {
  display: flex;
  justify-content: center;
  border-bottom: solid 2px white;
  width: 70vw;
  margin: auto;
  margin-bottom: 30px;
}

/*-------------------------------------ABOUT---------------------------------------*/
.about-title{
  padding-top: 20px;
  text-align: center;
  font-family: "montserrat";
  color: white;
  font-weight: 400;
  border-bottom: white 1px solid;
  margin: 0px 30px 0px 30px;
}

.container-about{
  
  margin-top: 20px;
}

.container-about .about-info{
  margin-left: 20px;
  color: white;
}

.container-about .about-info h3{
  color:rgb(255, 255, 255);
  font-family: "montserrat";
}

.container-about .img-about{
  text-align: center;
}

/*-------------------------------------HELP---------------------------------------*/

.contact{
   font-family: "Montserrat";
   position: relative;
   min-height: 100vh;
   padding: 50px 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-size: cover;
   

}

.contact .content{
  max-width: 800px;
  text-align: center;
}

.contact .content h2{
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.contact .content p{
  font-weight: 300;
  color: #fff;
}

.container-help{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container-help .contact-info{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container-help .contact-info .box-help{
  position: relative;
  padding: 20px 0px;
  display: flex;
}

.container-help .contact-info .box-help .icon-help{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container-help .contact-info .box-help .text-help{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.container-help .contact-info .box-help .text-help h3{
  font-weight: 500;
  color: #00bcd4;
}

.contact-form{
  width: 40%;
  padding: 40px;
  background-color: #fff;
}

.contact-form h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contact-form .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .inputBox input,
.contact-form .inputBox textarea{
  width: 100%;
  padding: 5px 0px;
  font-size: 16px;
  margin: 10px 0px;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0px;
  font-size: 16px;
  margin: 10px 0px;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .inputBox input:focus ~ span,
.contact-form .inputBox input:valid ~ span,
.contact-form .inputBox textarea:focus ~ span,
.contact-form .inputBox textarea:valid ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .inputBox input[type=submit]{
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

/*-------------------------------------ACCOUNT---------------------------------------*/
.imgavatar {
  display: flex;
  width: 15.5vw;
  margin-left: 20vw;
  padding: 2px;
}

.accountBox {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin-left: 10vw;
  border-radius: 5px;
  padding: 2%;
  margin-top: 10px;
}

.dataBox {
  background-color: white;
}

.accountData {
  font-size: 18px;
  font-weight: bolder;
  width: 40vw;
}

.accountInfo {
  color: rgba(0, 0, 0, 0.808);
  width: 40vw;
}

.dataSubtitle {
  font-weight: bold;
  font-size: 25p;
  width: 40vw;
}

.imgBox {
  background-color: white;
  width: 40vw;
}

/*---------------------------------------PRODUCT BROWSE-----------------------------------------*/

.browse-title {
  padding-top: 20px;
  text-align: center;
  font-family: "montserrat";
  color: white;
  font-weight: 400;
}

.product-browse-box {
  margin-bottom: 20px;
}

.product-browse-title {
  text-align: center;
  color: black;
}

.browse-body {
  font-family: "Roboto";
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 15px;
}

.product-browse-data {
  text-align: center;
  color: black;
  display: flex;
  justify-content: space-between;
}

.browse-product-line {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px lightgrey;
  width: 70%;
  margin: auto;
}

.product-article-browse a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  background-color: white;
  width: 80vw;
  border-radius: 5px;
}

.all-products-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-browse-img {
  text-align: center;
}

.product-browse-img1 {
  width: 25%;
}

.variedad-browse {
  font-size: 15px;
}

.product-data-left {
  margin-left: 10px;
  width: 35%;
}

.product-data-price {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.product-browse-price {
  font-size: 20px;
  color: rgb(12, 196, 12);
  font-weight: bold;
}

/*-------------------------------------------------PRODUCT DETAIL--------------------------------------------------*/

.productdetail {
  display: flex;
  background-color: white;
  margin-left: 40px;
  margin-right: 40px;
}

.categoriaprod {
  text-align: center;
}

.title {
  margin-bottom: 0px;
}

.subtitle {
  margin: 0px;
  font-size: 14px;
}

.descriptionprod {
  padding-top: 0px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.productdetail {
  display: block;
  margin: auto;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 15px;
}

.img-detail {
  display: flex;
  width: 40vw;
  padding-top: 10px;
  border-bottom: 1px solid black;
}

.imgprod {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.descriptionprod {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.contador {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.buttons-pdt-detail {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.price-detail {
  font-size: 20px;
  color: green;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.buttons1 {
  background: #b8112d;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin-right: 10px;
}

.buttons1:hover {
  background-color: #cc2642;
}

/*---------------------------------------PRODUCT CART-----------------------------------------*/

.carrito {
  padding-top: 20px;
  text-align: center;
  font-family: "montserrat";
  color: white;
  font-weight: 400;
}
.article-productCart {
  display: flex;
  background-color: white;
  margin: 20px;
  padding-top: 20px;
  border-radius: 5px;
}

.img-productCart {
  width: 10vw;
  text-align: center;
}

.marca-productCart {
  color: black;
}

.variedad-productCart {
  color: black;
}

.capacidad-productCart {
  color: black;
}

.data-navbar-productCart a {
  color: #3483fa;

  text-decoration: none;
}

.envio-productCart {
  color: green;
}

.price-productCart {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.discount-productCart {
  color: green;
  margin: 0px;
}

.old-price-productCart {
  text-decoration: line-through;
  margin: 0px;
}

.data-product-productCart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 90%;
}

.especificaciones-productCart {
  margin-left: 46px;
}

.discount-box-productCart {
  display: flex;
  font-size: 15px;
  flex-direction: column;
  margin: 18 0 10 0;
}

.navbar-productCart ul {
  display: flex;
  list-style: none;
  margin-left: 0px;
  padding: 0;
}

.navbar-productCart a {
  margin: 0px 10px 0px 10px;
}

.precio-descuento-productCart {
  margin: 5 30 0 0;
}

/*--------------------------------------------------------MEDIA QUERIS-----------------------------------------------------*/

@media (max-width: 560px) {
  .navbar1 {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
  }

  .form-logo {
    display: none;
  }
}

@media (max-width: 991px){
  .contact{
    padding: 50px;
  }

  .container-help{
    flex-direction: column;
  }

  .container-help .contact-info{
    margin-bottom: 40px;
  }

  .container-help .contact-info, .contact-form{
    width: 100%;
  }
}


@media (min-width: 768px) {
  /*MEDIA QUERI HEADER*/

  .lupa-mobile {
    display: none;
  }

  .menu-hamburguesa {
    display: none;
  }

  .copy-header {
    display: flex;
  }

  .barrabusqueda-header {
    display: flex;
  }

  .main-header-top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .copy-header {
    color: white;
    display: flex;
    width: 20vw;
    justify-content: space-evenly;
    text-align: center;
  }

  .copy-header p:hover {
    color: lightgray;
  }

  .copy-header i:hover {
    transition-duration: 20ms;
    color: lightgrey;
  }

  .barrabusqueda-header {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 40vw;
    padding: 8px;
    border: none;
    height: 4vh;
  }

  .cart-mobile {
    display: none;
  }

  .img-banner {
    width: 20vw;
  }

  .main-navbar {
    display: flex;
  }

  .main-navbar ul {
    padding-top: 20px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-bottom: 20px;
  }

  .main-navbar li {
    margin: 0 40px;
  }

  .main-navbar a {
    text-decoration: none;
    color: white;
  }

  .main-navbar a:hover {
    color: lightgray;
  }

  /*MEDIA QUERI FOOTER*/

  .footer-bar {
    font-size: 15px;
  }

  .footer-text {
    width: auto;
  }
  .redessociales {
    padding-top: 20px;
    font-size: 20px;
    justify-content: center;
    gap: 30px;
  }

  .footer-bar {
    display: flex;
    color: white;
    justify-content: space-evenly;
    font-size: 12px;
    font-weight: 200;
    flex-direction: row;
  }

  /*MEDIA QUERI HOME*/

  .banner-home {
    display: flex;
  }

  .img-product-home {
    width: 22vw;
    margin: 10px;
  }

  .articles-home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
    align-items: center;
  }

  /*MEDIA QUERI PRODUCT BROWSE*/

  .product-article-browse a {
    display: flex;
    text-decoration: none;
    color: inherit;
    background-color: white;
    width: 25vw;
    border-radius: 5px;
  }

  .product-browse-box {
    margin: 20px;
  }

  .product-browse-box:hover {
    box-shadow: 3px 3px 7px rgb(153, 150, 150);
  }

  /*MEDIA QUERI PRODUCT DETAIL*/

  .productdetail {
    display: flex;
    background-color: white;
    margin-left: 40px;
    margin-right: 40px;
  }

  .img-detail {
    width: 20vw;
    border-right: black solid 1px;
    border-bottom: none;
  }

  .imgprod {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .price-detail {
    font-size: 25px;
  }

  .buttons1 {
    padding: 10px;
    margin: 5px 10px;
    width: 40vw;
  }

  .descriptionprod {
    padding-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .options {
    display: flex;
  }

  .contador {
    margin: 0;
    padding: 0px;
    display: flex;
    align-items: center;
    font-family: "Monstserrat", sans-serif;
  }

  .conjuntoContador {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
  }

  .producttext {
    margin-top: 50px;
  }

  .title {
    font-size: 50px;
  }

  .subtitle {
    font-size: 40px;
  }

  .categoriaprod {
    font-size: 30px;
  }

  .descriptionprod {
    font-size: 25px;
  }

  /*MEDIA QUERY PRODUCT CART*/

  .carrito {
    padding-top: 20px;
    text-align: center;
    font-family: "Montserrat";
    color: white;
    font-weight: 400;
  }
  .article-productCart {
    display: flex;
    background-color: white;
    margin: 70px;
    border-radius: 5px;
  }

  .img-productCart {
    width: 8vw;
  }

  .marca-productCart {
    color: black;
  }

  .variedad-productCart {
    color: black;
  }

  .capacidad-productCart {
    color: black;
  }

  .data-navbar-productCart a {
    color: #3483fa;

    text-decoration: none;
  }

  .envio-productCart {
    color: green;
  }

  .price-productCart {
    color: black;
    font-size: 30px;
    font-weight: bold;
  }

  .discount-productCart {
    color: green;
  }

  .old-price-productCart {
    text-decoration: line-through;
    margin: 0px;
  }

  .data-product-productCart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
  }

  .especificaciones-productCart {
    margin-left: 46px;
  }

  .discount-box-productCart {
    display: flex;
    gap: 10px;
    flex-direction: row;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .navbar-productCart ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    flex-direction: row;
    list-style: none;
    margin-left: 0px;
    justify-content: flex-start;
  }

  .navbar-productCart a {
    margin: 0px 10px 0px 10px;
  }

  .precio-descuento-productCart {
    margin: 5 30 0 0;
  }

  /* MEDIA QUERI PRODUCT CREATE*/

  .create-body input:hover {
    border: 2px solid #991128;
    border-radius: 10px;
  }

  .create-body textarea:hover {
    border: 2px solid #991128;
    border-radius: 10px;
  }

  .create-button {
    width: 80vw;
    background-color: #991128;
    color: white;
    padding: 10px 25px;
    margin: 8px 0;
    border-radius: 10px;
    border: solid rgb(29, 29, 29) 1px;
    opacity: 0.9;
    text-align: center;
  }
}
