<!DOCTYPE html>
<html>

<%- include('../partials/head') %> 

<link rel="stylesheet" href="/css/home.css">
<body>
  <%- include('../partials/header') %> 

  <main>

    <img class="banner" src="images/banner4.jpeg" alt="">


    <div class="articles">
      <article>
        <img class="img-product" src="images/seccion3.jpg" alt="">
      </article>
      <article>
        <img class="img-product" src="images/seccion2.jpg" alt="">
      </article>

      <article>
        <img class="img-product" src="images/seccion1.jpg" alt="">
      </article>

  </main>

  <%- include('../partials/footer') %>

</body>





</html>