<!DOCTYPE html>
<html>

<%- include('../partials/head') %> 


<body>
  <%- include('../partials/header') %> 

  <main>

    <img class="banner-home" src="images/banner4.jpeg" alt="">


    <div class="articles-home">
      <article>
        <img class="img-product-home" src="images/seccion3.jpg" alt="">
      </article>
      <article>
        <img class="img-product-home" src="images/seccion2.jpg" alt="">
      </article>

      <article>
        <img class="img-product-home" src="images/seccion1.jpg" alt="">
      </article>

  </main>

  <%- include('../partials/footer') %>

</body>





</html>