<!DOCTYPE html>
<html>

<%- include('../partials/head') %> 


<body>
  <%- include('../partials/header') %> 

  <main>

    <img class="banner-home" src="images/banner4.jpeg" alt="">


<h1 class="title-home-cat">CATEGORÍAS</h1>
<div class="line-home-cat"></div>
    <div class="articles-home">
      <article>
        <img class="img-product-home" src="images/section-vinos-text.png" alt="">
      </article>
      <article>
        <img class="img-product-home" src="images/section-cervezas-text.png" alt="">
      </article>

      <article>
        <img class="img-product-home" src="images/section-espumantes-text.png" alt="">
      </article>
      </div>
      
      <h1 class="title-home-cat">OFERTAS Y MAS</h1>
      <div class="line-home-cat"></div>
      <div class="articles-home">
        <article>
          <img class="img-product-home" src="images/vino-section-oferta.png" alt="">
        </article>
        <article>
          <img class="img-product-home" src="images/vino-section-novedades.png" alt="">
        </article>
    </div>
  </main>

  <%- include('../partials/footer') %>

</body>





</html>