<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

  

  <body>
    <%- include('../partials/header') %> 

    <!--Main Header-->


    


<div class="text-center mt-5">
  <form method="POST" action="/users/login" style="width:70vw;margin:auto;background-color: black; padding: 50px; border-radius: 15px;">
    <a href="/"><img src="/images/wineline-logo2.png" height="72" alt="logo" class="form-logo"></a>
    <h1 style="font-family:Montserrat; font-weight: bolder; color: white;">Login</h1>
    <label for="emailAdress" class="sr-only">Email</label>
    <input type="email" name="email" id="emailAdress" class="form-control mb-3" placeholder="Direccion de correo electronico" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" name="password" id="password" placeholder="Contraseña" class="form-control mb-3">
    <div class="checkbox">
      <label>
        <input type="checkbox" name="remember" value="remember-me"> Recordarme
      </label>
    </div>
    <a href="" style="text-decoration: none;">¿Ha olvidado su contraseña?</a>
    <div class="mt-3">
      <button class="btn btn-lg btn-primary w-100">Login</button>
    </div>
  </form>
  
</div>




      <%- include('../partials/footer') %>
  </body>

</html>
