<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

  

  <body>

    <!--Main Header-->


    <%- include('../partials/header') %>





      <!--Formulario de login-->

      <main class="register-body">
        <h1 class="register-title">Login</h1>



        <form class="register-box" action="" method="">




          <div class="register-usuario">
            <div>
              <label for="apellido"></label>
              <input type="text" name="apellidoUsuario" id="apellido" placeholder="Nombre de usuario" required
                class="register-usuario1">
            </div>
          </div>

          <div class="register-password">
            <div>
              <label for="contraseña"></label>
              <input type="password" name="passwordUsuario" id="contraseña" placeholder="Contraseña" required
                class="register-password1">
            </div>
          </div>





          <div class="register-button">
            <button class="register-button2" type="submit">Login</button>
          </div>
          <div class="already-account">
            <button class="register-button2" type="submit">Cancelar</button>
          </div>
          <p class="password-remember1"><a class="password-remember" href="">¿Ha olvidado su contraseña?</a></p>
          <div class="remember1">
            <input type="checkbox" name="recordarme">
            <label class="remember" for="recordarme">Recordar mi usuario y contraseña</label>
          </div>
        </form>

      </main>


      <%- include('../partials/footer') %>
  </body>

</html>