<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <div class="accountBox">
        <div class="dataBox">
          <h2 class="dataSubtitle">Datos de la cuenta</h2>
          <div class="accountData"><span>Usuario</span></div>
          <div class="accountInfo"><span>UsuarioX</span></div>
          <div class="accountData"><span>E-mail</span></div>
          <div class="accountInfo"><span>fulano@detal.com</span></div>
          <br>
          <h2 class="dataSubtitle">Datos personales</h2>
          <div class="accountData"><span>Nombre completo</span></div>
          <div class="accountInfo"><span>Cosme fulanito</span></div>
          <div class="accountData"><span>Direccion de envío</span></div>
          <div class="accountInfo"><span>Calle Falsa 123</span></div>
          <div class="accountData"><span>País</span></div>
          <div class="accountInfo"><span>Argentina</span></div>
          <div class="accountData"><span>Telefono</span></div>
          <div class="accountInfo"><span>11 1234 5678</span></div>
        </div>
        <div class=imgBox>
          <img class="imgavatar" src="/images/avatardef.jpg" alt="">
        </div>





  </body>





</html>