<html lang="es">

  <%- include('../partials/head') %>


<body>
  <!--Encabezado igual a todas las paginas-->
  <%- include('../partials/header') %>

  <!--Pagina del carrito-->

  <main>
    <h1 class="carrito">Carrito</h1>
    
    
    <div class= "cajaPrincipal-carrito">
      <div class="panel-carrito">
       <img class="img-cart" src="images/vino1.jpg" alt="">
        <div class="item-infomation-carrito">
          <div class="leftItem-carrito">
            <div class="title-item-carrito">
              <div class= "menbrete-carrito">
                <div class="item-carrito">
                <p >Vino Tinto Trumpeter</p>
              </div>
              <div class="descriptionItem-carrito">
                <p >Año cosecha 2020 variedad 100% Malbec de Valle de Uco Crianza 7 meses, 750cc.
              </p>
              </div>
            
              <div class="detailShipping-carrito">
                <p class="shipping-carrito">Envio gratis</p>
              </div>
              </div>
              

              <div class="conjuntoContador-carrito">
                <div class="contador-carrito">
                  <div>
                    <button class="incr-carrito" id="incr"><i class="fas fa-plus"></i></button>
                  
                  </div>
    
                  <p class="contar-carrito" id="contar">0</p>
    
                  <div class="botones-carrito">
                    <button class="decr-carrito" id="decr"><i class="fas fa-minus"></i></button>
                  </div>
                  <div>
                    <button class="reset-carrito" id="reset"><i class="fas fa-trash-alt"></i></button>
                  </div>
        
                </div>
                  <div class="precio-carrito">
                    <span class="valor-carrito">$ 850</span>
                  </div>
              </div>
              </div>
              <div class= "opciones-carrito">
                <p class= "opcion1-carrito">Comprar Ahora</p>
                <p class="opcion2-carrito">Guardar para después</p>
          </div>
        </div>
      </div>
      
    </div>
<div>
  <p class=line-carrito></p>
</div>
    
<div class= "cajaPrincipal-carrito">
  <div class="panel-carrito">
   <img class="img-cart" src="images/vino.jpg" alt="">
    <div class="item-infomation-carrito">
      <div class="leftItem-carrito">
        <div class="title-item-carrito">
          <div class= "menbrete-carrito">
            <div class="item-carrito">
            <p >Ruttini cabernet Malbec</p>
          </div>
          <div class="descriptionItem-carrito">
            <p >Año cosecha 2019 variedad 50% Malbec, 50% Cabernet de Valle de Uco Crianza  10 meses del corte en roble francés, 750cc.
          </p>
          </div>
        
          <div class="detailShipping-carrito">
            <p class="shipping-carrito">Envio gratis</p>
          </div>
          </div>
          

          <div class="conjuntoContador-carrito">
            <div class="contador-carrito">
              <div>
                <button class="incr-carrito" id="incr"><i class="fas fa-plus"></i></button>
              
              </div>

              <p class="contar-carrito" id="contar">0</p>

              <div class="botones-carrito">
                <button class="decr-carrito" id="decr"><i class="fas fa-minus"></i></button>
              </div>
              <div>
                <button class="reset-carrito" id="reset"><i class="fas fa-trash-alt"></i></button>
              </div>
    
            </div>
              <div class="precio-carrito">
                <span class="valor-carrito">$ 2090</span>
              </div>
          </div>
          </div>
          <div class= "opciones-carrito">
            <p class= "opcion1-carrito">Comprar Ahora</p>
            <p class="opcion2-carrito">Guardar para después</p>
      </div>
    </div>
  </div>
  
</div>
<div class="caja-comprar">

  <div class="caja-envio-direccion">
    <p class="direccion">Envio: Lorem ipsum 1965</p>
    <p class="envio">Gratis</p>
  </div>

  <div class="caja-total-precio">
    <p class="total-texto">Total con envío</p>
    <p class="total-precio">$0</p>
  </div>


  <div class="comprar">
    <button class="comprar1" type="submit">Comprar</button>
  </div>
  </main>
  <%- include('../partials/footer') %>

</body>

</html>