<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head') %>
  


<body>
  <%- include('../partials/header') %>

    <main class="productdetail">
      <div class="imgprod">
        <img class="img-detail" src="/images/rutinicabmal.jpg" alt="">
      </div>
      <div class="producttext">
        <h3 class="title">Rutuni Cabernet Malbec</h4>
          <p class="subtitle">750ml</p>
          <p class="descriptionprod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum iure eos in facilis
            architecto doloribus
            consectetur nihil repudiandae illo accusantium repellendus corporis at minus labore reiciendis doloremque,
            culpa esse expedita.</p>
          <h4 class="price">Precio: $1300</h2>
            <br>
            <div class="conjuntoContador">
              <div class="contador">
                <div>
                  <button class="decr" id="decr"><i class="fas fa-minus"></i></button>
                </div>

                <p class="contar" id="contar">1</p>

                <div class="botones">
                  <button class="incr" id="incr"><i class="fas fa-plus"></i></button>
                </div>
              </div>

              <div class="buttons">
                <button class="buttons1">Comprar</button>
                <button class="buttons1">Agregar al carrito</button>
              </div>

            </div>

              

    </main>

    <%- include('../partials/footer') %>
</body>

</html>