<html lang="es">

  <%- include('../partials/head') %>


<body>
  <!--Encabezado igual a todas las paginas-->
  <%- include('../partials/header') %>

  <!--Pagina del carrito-->

  <main>
    <h1 class="carrito">CARRITO</h1>


    

      <div>
        <article class="article-productCart">
          
           <div>
           <img class = "img-productCart" src="/images/chandon-delice.jpg" alt="">
          </div>
           <div class="data-product-productCart">
             <div class="especificaciones-productCart">
           <h2 class="marca-productCart">Chandon</h2>
           <h3 class="variedad-productCart">Delice</h3>
           <p class="capacidad-productCart">750ml.</p>
           <p class="envio-productCart">Envío gratis</p>
             </div>
           <div class="navbar-productCart">
            <ul>
              <li class="data-navbar-productCart">
                <a href="">Eliminar</a>
              </li>
              <li class="data-navbar-productCart">
               <a href="">Productos similares</a>
             </li>
             <li class="data-navbar-productCart">
               <a href="">Comprar ahora</a>
             </li>
            </ul>
          </div>
          <div class="precio-descuento-productCart">
            <p class="discount-productCart">-26%</p>
            <span class="price-productCart">$1200</span>
            
          </div>


          </div>

           

        </article>
      </div>



      <div>
        <article>
          
        </article>
      </div>

    
    
    
  </main>
  <%- include('../partials/footer') %>

</body>

</html>