<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head') %>
<link rel="stylesheet" href="/css/productCart.css">

<body>
  <!--Encabezado igual a todas las paginas-->
  <%- include('../partials/header') %>

  <!--Pagina del carrito-->

  <main>

    <h1 class="cart-title">Carrito</h1>

    <div class="item">
      <div class="pannel">
        <div class="vinoTitulo">
          <div class="vino">
            <img class="foto-vino" src="images/vino1.jpg" alt="">
          </div>

          <div class="nombre-producto">
            <p class="nombreVino">Vino Tinto Trumpeter</p>
            <p class="descripcionVino">Año cosecha 2020 variedad 100% Malbec de Valle de Uco Crianza 7 meses, 750cc.
            </p>
            <p class="envio">Envio Gratis</p>
          </div>
          <!--Contador -->

          <div class="conjuntoContador">
            <div class="contador">
              <div>
                <button class="incr" id="incr"><i class="fas fa-plus"></i></button>
              </div>

              <p class="contar" id="contar">0</p>

              <div class="botones">
                <button class="decr" id="decr"><i class="fas fa-minus"></i></button>
                <button class="reset" id="reset"><i class="fas fa-trash-alt"></i></button>
              </div>
            </div>
            <div class="cajaPrecio">
              <p class="precio">$890</p>
            </div>
          </div>
          <div class="lineCaja">
          </div>
          <div class="opciones">
            <ul class="eliminar-guardar">
              <li>Eliminar</li>
              <li>Guardar para despues</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>



    <div class="item">
      <div class="pannel">
        <div class="vinoTitulo">
          <div class="vino">
            <img class="foto-vino" src="images/vino-rutini.jpg" alt="">
          </div>

          <div class="nombre-producto">
            <p class="nombreVino">Rutini Cabernet Malbec </p>
            <p class="descripcionVino">Año cosecha 2018 X 750ml Regalo Celler</p>
            <p class="envio">Envio Gratis</p>
          </div>
          <!--Contador -->

          <div class="conjuntoContador">
            <div class="contador">
              <div>
                <button class="incr" id="incr"><i class="fas fa-plus"></i></button>
              </div>

              <p class="contar" id="contar">0</p>

              <div class="botones">
                <button class="decr" id="decr"><i class="fas fa-minus"></i></button>
                <button class="reset" id="reset"><i class="fas fa-trash-alt"></i></button>
              </div>
            </div>
            <div class="cajaPrecio">
              <p class="precio">$1890</p>
            </div>
          </div>
          <div class="lineCaja">
          </div>
          <div class="opciones">
            <ul class="eliminar-guardar">
              <li>Eliminar</li>
              <li>Guardar para despues</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>







    <div class="caja-comprar">

      <div class="caja-envio-direccion">
        <p class="direccion">Envio: Lorem ipsum 1965</p>
        <p class="envio">Gratis</p>
      </div>

      <div class="caja-total-precio">
        <p class="total-texto">Total con envío</p>
        <p class="total-precio">$0</p>
      </div>





      <div class="comprar">
        <button class="comprar1" type="submit">Comprar</button>
      </div>




    </div>



  </main>



  <%- include('../partials/footer') %>

</body>

</html>